@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
}

:root {
    --main-color: #19c8fa;
    --logo-color: white;
    --color: blue;
    --main-transition: 1.3s;
    --lo-color: linear-gradient(#5ddcff, #3c67e3 43%, #4e00c2);
    --lolo-color: gray;
}


ul {
    list-style: none;

}

a {
    text-decoration: none;
}



.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    text-transform: uppercase;
    background-color: #000016;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 72px;
}

@media(max-width: 767px) {

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .main-nav {
        flex-direction: column;
        background-color: #000016;
        bottom: -90px;
        right: 120px;
        padding-left: 63px;
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        transform-style: preserve-3d;
        border-radius: 2px;
    }

    .header .show {
        display: flex;
    }

    .togmenu .main-nav li {
        position: relative;
        left: -50px;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .main-nav li i {
        display: flex;
        position: relative;
        left: 20px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
    }

    .togmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--main-color);
        width: 50px;

    }

    .menu {
        width: 20px;
        height: 20px;
        font-size: 24px;
        left: -8px;
        position: relative;
    }
}

.header .logo {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: cursive;
    position: relative;
    margin-left: 15px;

}

.header .logo::after {
    content: "";
    border-bottom: 0.2px solid red;
    position: absolute;
    left: 25px;
    right: 3px;
    /* height: 2px; */
    transform: translateX(-16%);
    bottom: 4px;
    border-style: inset;

}

/*  */

/*  */

.typed-out {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    animation: typing 2.4s steps(30, end) forwards;
    font-size: 25px;
    text-align: center;
    font-family: aut;
padding-bottom: 20px;
    width: 0;
    color: white;
}

@media(max-width: 767px) {
    .typed-out {
        font-size: 17px;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@media(max-width: 767px) {
    .header .logo {
        font-size: 17px;
        padding: 5px;
    }
}

@media(min-width: 768px) {
    .header .main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transform-style: preserve-3d;
    }
}



.header .main-nav li a {
    display: flex;
    position: relative;
    color: white;
    overflow: hidden;
    font-size: 16px;
    transition: var(--main-transition);
    font-weight: bold;
    padding: 10px;
}

@media(max-width: 767px) {
    .header .main-nav li a {
        font-size: 10px;
    }
}

.header .main-nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav li a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav li a:hover::before {
    left: 0;
}

section {

    padding: 100px;

}

.main-nav li a {
    display: inline-block;
}

.main {
    width: 100%;
    min-height: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/tifa.jpeg) no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}

@media (max-width:767px) {
    .main {
        background-position: 38px;
        background-attachment: inherit;
        margin-bottom: -114px;
    }
}

@media (max-width:767px) {
    section {
        padding: 129px 28px;
    }
}

.main h2 {
    color: rgb(80, 11, 145);
    font-size: 1.4em;
    font-weight: 500;
}

.main .non {
    margin-top: 10px;
    color: var(--logo-color);
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .main h3 {
        font-size: 1.5em;
    }
}

.main .relo {
    margin-left: 2px;
    background-color: darkslateblue;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 15px;
    margin-bottom: 16px;
    padding: 0.9375em 2.1875em;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    transition: 0.7s ease;
    position: relative;
    animation: but;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
    animation: but;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes but {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 10px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 50px;
        top: 10px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 20px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}


@media (max-width:767px) {
    .main .relo {
        animation-iteration-count: initial;
        margin: 10px;
        margin-left: -9px;
        background-color: #000047;
    }
}

.main-btn {
    background-image: var(--lo-color);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 0.9375em 2.1875em;
    text-decoration: none;
    display: inline-block;
    transition: 0.7s ease;
}

@media (max-width:767px) {
    .main-btn {
        margin-bottom: 20px;
        padding: 0.4375em 1.1875em;
    }
}

.main-btn:hover {
    background-color: var(--main-color);
    transform: scale(1.1);
}

.socle-icnes {
    position: absolute;
}

.socle-icnes a {
    color: var(--logo-color);
    font-size: 1.7em;
    padding-right: 15px;
    transition: 0.7s ease;
    display: inline-block;

}

.socle-icnes a:hover {
    font-size: 20px;
    transform: scale(1.1);
}

.socle-icnes a:hover {
    color: var(--main-color);
    font-size: 40px;
}

.socle-icnes a:not(:first-child) {
    opacity: 0;
}

.socle-icnes:hover a {
    opacity: 1;
    transition: 1.5s;
    transform: rotate3d(1, 1, 1, 360deg);
}

.cards {
    background-image: var(--lo-color);
    color: white;
    min-height: 100vh;

}

.cards .iconee {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 24px;
    font-size: 191px;

}

.cards .iconee i {
    display: none;
    transition: 3s;
}

.cards .card:hover i {
    display: block;
    color: var(--main-color);
}


.title {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    border: 1px solid var(--main-color);
    padding-bottom: 9px;
    color: white;
    border-radius: 31px;

}

/*  */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
}

.card {
    background-color: #FFF;
    width: 21.25em;
    margin: 15px;
    transition: 0.7s;
    border-radius: 18px;
    overflow: hidden;

}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: var(--main-color);
    font-size: 7em;
    text-align: center;

}

.info h3 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    margin: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 73px;
    margin-bottom: 25px;
}

.info h3 a {
    color: #FFF;
}

.project .title {
    color: white;
}

.project {
    background-color: #000016;
    min-height: 100vh;
}

.project .content {
    margin-top: 30px;
}

/* .project .content:hover .project-card{
    min-height:14em;

} */
.project-card {
    background-color: #FFF;
    border: 1px solid #FFF;
    min-height: 0em;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 20px;
    transition: 1.7s ease;

}

.project-card:hover {
    transform: scale(1.1);
    min-height: 14em;


}

.project-card:hover .project-image {
    width: 100%;
    transition: 1.7s ease;


}

.project-image {
    width: 0;
    transition: 1.7s ease;

}

.project-image img {
    width: 100%;
    transition: 1.7s ease;

}

.project-card:hover .project-image {
    opacity: 0.9;
    transition: 1.7s ease;

}

.project-info {
    padding: 1em;
    background-color: var(--main-color);
    transition: 1.7s ease;

}

.project-category {
    font-size: 0.8em;
    color: #000;
    transition: 1.7s ease;

}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;

}

.look {
    position: relative;

    text-decoration: none;
    color: white;
    transition: 1.7s ease;
}

.look:hover {
    color: var(--color);
    transform: scale(1.1);

}

.cares-contnt .phone {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.cares-contnt .emmail {
    color: white;
}

.cares-contnt .info {
    margin-bottom: 10px;
}

.cares-contnt {
    background-image: var(--lo-color);
    min-height: 100vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #000016;
    color: #fff;
    padding: 2em;
}

.footer .footer-title {
    font-size: 1.3em;
    font-weight: 600px;
}

.footer .footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a i {
    font-size: 15px;
    margin-left: 3px;
    color: var(--main-color);
}

@media (max-width:767px) {
    .footer {
        font-size: 10px;
    }
}

.row-don i {
    position: absolute;
    color: var(--main-color);
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    transition: 3s;

}

.row-don i {
    animation: row-don 1.5s infinite;
}

@keyframes row-don {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);

    }

    40%,
    60% {
        transform: translateY(-30px);
    }
}

.project-card {
    width: 350px;
}

.info:hover .row-don i {
    display: inline;
    margin-top: -30px;
    left: 50%;
    transform: translatex(-50%);
}

.info .row-don i {
    display: block;
}

@media (min-width:767px) {

    .header .container .main-nav i {
        color: var(--main-color);
        opacity: 1;
        position: absolute;
        transform: translate(10px, -40px);
        font-size: 35px;
        transition: .5s;
        width: 100px;
    }

    .test {
        opacity: 0;

    }

    .fa-icons {
        font-size: 50px;
    }
}

.project-card .fa-eye {
    display: none;
    color: white;
}

.project-card:hover .fa-eye {
    display: inline
}

.project-card .project-title {
    position: relative;
    display: flex;
    justify-content: space-around;
    color: red;
}









* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.formbold-mb-5 {
    margin-bottom: 20px;
}

.formbold-pt-3 {
    padding-top: 12px;
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
}

.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
}

.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

.formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    width: 100%;
    cursor: pointer;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}

.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}
